@import "~bootstrap/scss/bootstrap";

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h4 {
    margin: 0;
    font-size: 16px;
  }
}

.modal {
  background-color: #00000080;
}

html,
body {
  background-color: rgb(182, 98, 43);
  width: 100%;
  overflow-x: hidden; /* Hide horizontal scrolling */
}

#main {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  h2 {
    font-size: 1rem;
  }
  .row {
    flex-wrap: nowrap;
    margin: 0;
    width: 100%;

    .right_screen {
      display: flex;
      flex-direction: column;
      padding-top: 3rem;

      .searchBox {
        display: flex;
        justify-content: center;
        padding-bottom: 1rem;
        [data-search] {
          width: 60%;
        }
      }
      .list {
        display: flex;
        justify-content: space-evenly;
        column-gap: 1rem;
        margin: 0;
        ul.list-group.list-group-flush {
          list-style-type: none; /* Removes the bullets */
          padding: 0; /* Removes default padding */
          margin: 0; /* Removes default margin */

          button {
            margin-top: 0.75rem;
            margin-left: 0.75rem;
          }
          h5 {
            text-align: center;
            text-transform: uppercase;
          }
          li {
            flex-wrap: wrap;
            margin-bottom: 1rem;
            border: 1px solid gray;
            padding: 1rem;
            &:hover {
              background-color: #e49191;
              cursor: grab;
            }
            div:nth-child(4) {
              display: flex;
              gap: 0.25rem;
              button {
                margin: 0;
                margin-top: 0.25rem;
              }
            }
          }
          li.ingredientListItem {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem;

            div:nth-child(2) {
              display: flex;
              gap: 0.25rem;
              button {
                margin: 0;
                margin-top: 0.25rem;
              }
            }
          }
        }
      }
    }
  }
}

.drop-container,
.drop-container-ingredients {
  list-style-type: none;
  min-height: 150px;
  border: 2px dashed #333;
  display: flex;
  justify-content: center;
  align-items: center;
  h5 {
    text-align: center;
    text-transform: uppercase;
  }
}
